{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">

<div id="innerbody">

    
    <div id="adminSettings">
        <div class="settingsHeader">
            Admin Settings
        </div>
        <div id="Add User" class="settingEntry">
            Add User 
        </div> 
        <div id="Delete User" class="settingEntry">
            Delete User 
        </div> 
        <div id="Audit Log" class="settingEntry">
            Audit Log
        </div> 
        <div id="Reset User Password" class="settingEntry">
            Reset User Password 
        </div> 
        <div id="User Zone Permissions" class="settingEntry">
            User Zone Permissions
        </div> 
        <div id="Change Zone Settings" class="settingEntry">
            Zone list Edit / SIP details & Zone PNG  (Change Zone Settings)
        </div> 
        <div id="Change API Settings" class="settingEntry">
            Generate API keys for remote lockdown / bell / test trigger
        </div> 
        <div id="Lockdown Settings" class="settingEntry">
            Toggle Lockdown Test Mode & Toggle Zone Lockdown HTTP calls
        </div> 
        <div id="sounds" class="settingEntry">
            Set default bell sound, lockdown sound and test sounds
        </div> 
        
    </div>
    
    <div id="userSettings">
        <div class="settingsHeader">
            User Settings
        </div>
        <div id="userChangePassword" class="settingEntry">
            Change Password
        </div> 
    </div>
    
    <script type="text/javascript">
        var showAdminSettings = '{{ showAdminSettings }}'
        window.showAdminSettings = showAdminSettings;
    </script>
    
    <script src="{{url_for('static', filename='js/settings.js')}}"></script>
    
</div>
{% endblock %}
